--
-- PostgreSQL database dump
--

\restrict PJvOszF606cAbsMKMeWUIMPbe6Kb8JMUvZSDACUn8m0aJCRwWX4R4k0r0oGG0Y8

-- Dumped from database version 16.14
-- Dumped by pg_dump version 16.14

SET statement_timeout = 0;
SET lock_timeout = 0;
SET idle_in_transaction_session_timeout = 0;
SET client_encoding = 'UTF8';
SET standard_conforming_strings = on;
SELECT pg_catalog.set_config('search_path', '', false);
SET check_function_bodies = false;
SET xmloption = content;
SET client_min_messages = warning;
SET row_security = off;

--
-- Name: enum_careers_status; Type: TYPE; Schema: public; Owner: paragon
--

CREATE TYPE public.enum_careers_status AS ENUM (
    'open',
    'closed'
);


ALTER TYPE public.enum_careers_status OWNER TO paragon;

--
-- Name: enum_careers_type; Type: TYPE; Schema: public; Owner: paragon
--

CREATE TYPE public.enum_careers_type AS ENUM (
    'full-time',
    'part-time',
    'contract'
);


ALTER TYPE public.enum_careers_type OWNER TO paragon;

--
-- Name: enum_dealers_type; Type: TYPE; Schema: public; Owner: paragon
--

CREATE TYPE public.enum_dealers_type AS ENUM (
    'main',
    'sub'
);


ALTER TYPE public.enum_dealers_type OWNER TO paragon;

--
-- Name: enum_pages_status; Type: TYPE; Schema: public; Owner: paragon
--

CREATE TYPE public.enum_pages_status AS ENUM (
    'published',
    'draft'
);


ALTER TYPE public.enum_pages_status OWNER TO paragon;

--
-- Name: enum_products_category; Type: TYPE; Schema: public; Owner: paragon
--

CREATE TYPE public.enum_products_category AS ENUM (
    'organic-fertilizer',
    'organic-pesticide',
    'soil-improver'
);


ALTER TYPE public.enum_products_category OWNER TO paragon;

--
-- Name: enum_products_status; Type: TYPE; Schema: public; Owner: paragon
--

CREATE TYPE public.enum_products_status AS ENUM (
    'published',
    'draft'
);


ALTER TYPE public.enum_products_status OWNER TO paragon;

--
-- Name: enum_site_settings_social_links_icon; Type: TYPE; Schema: public; Owner: paragon
--

CREATE TYPE public.enum_site_settings_social_links_icon AS ENUM (
    'link',
    'facebook',
    'linkedin',
    'youtube',
    'instagram'
);


ALTER TYPE public.enum_site_settings_social_links_icon OWNER TO paragon;

--
-- Name: enum_users_role; Type: TYPE; Schema: public; Owner: paragon
--

CREATE TYPE public.enum_users_role AS ENUM (
    'admin',
    'editor'
);


ALTER TYPE public.enum_users_role OWNER TO paragon;

SET default_tablespace = '';

SET default_table_access_method = heap;

--
-- Name: careers; Type: TABLE; Schema: public; Owner: paragon
--

CREATE TABLE public.careers (
    id integer NOT NULL,
    title character varying NOT NULL,
    department character varying,
    type public.enum_careers_type,
    location character varying,
    description jsonb,
    requirements jsonb,
    salary character varying,
    deadline timestamp(3) with time zone,
    status public.enum_careers_status DEFAULT 'open'::public.enum_careers_status,
    updated_at timestamp(3) with time zone DEFAULT now() NOT NULL,
    created_at timestamp(3) with time zone DEFAULT now() NOT NULL
);


ALTER TABLE public.careers OWNER TO paragon;

--
-- Name: careers_id_seq; Type: SEQUENCE; Schema: public; Owner: paragon
--

CREATE SEQUENCE public.careers_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.careers_id_seq OWNER TO paragon;

--
-- Name: careers_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: paragon
--

ALTER SEQUENCE public.careers_id_seq OWNED BY public.careers.id;


--
-- Name: dealers; Type: TABLE; Schema: public; Owner: paragon
--

CREATE TABLE public.dealers (
    id integer NOT NULL,
    name character varying NOT NULL,
    district character varying NOT NULL,
    upazila character varying,
    address character varying,
    phone character varying,
    alternate_phone character varying,
    type public.enum_dealers_type DEFAULT 'sub'::public.enum_dealers_type,
    coordinates_lat numeric,
    coordinates_lng numeric,
    updated_at timestamp(3) with time zone DEFAULT now() NOT NULL,
    created_at timestamp(3) with time zone DEFAULT now() NOT NULL
);


ALTER TABLE public.dealers OWNER TO paragon;

--
-- Name: dealers_id_seq; Type: SEQUENCE; Schema: public; Owner: paragon
--

CREATE SEQUENCE public.dealers_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.dealers_id_seq OWNER TO paragon;

--
-- Name: dealers_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: paragon
--

ALTER SEQUENCE public.dealers_id_seq OWNED BY public.dealers.id;


--
-- Name: hero_slides; Type: TABLE; Schema: public; Owner: paragon
--

CREATE TABLE public.hero_slides (
    id integer NOT NULL,
    heading_bn character varying NOT NULL,
    tag_bn character varying,
    tag_en character varying,
    subtitle_bn character varying,
    cta1_label character varying,
    cta1_href character varying,
    cta2_label character varying,
    cta2_href character varying,
    bg_color character varying DEFAULT 'linear-gradient(135deg, #0a1f14 0%, #1B4D3E 55%, #2D7A3A 100%)'::character varying,
    accent_color character varying DEFAULT '#D4A017'::character varying,
    "order" numeric DEFAULT 1,
    active boolean DEFAULT true,
    updated_at timestamp(3) with time zone DEFAULT now() NOT NULL,
    created_at timestamp(3) with time zone DEFAULT now() NOT NULL,
    image_id integer
);


ALTER TABLE public.hero_slides OWNER TO paragon;

--
-- Name: hero_slides_id_seq; Type: SEQUENCE; Schema: public; Owner: paragon
--

CREATE SEQUENCE public.hero_slides_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.hero_slides_id_seq OWNER TO paragon;

--
-- Name: hero_slides_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: paragon
--

ALTER SEQUENCE public.hero_slides_id_seq OWNED BY public.hero_slides.id;


--
-- Name: media; Type: TABLE; Schema: public; Owner: paragon
--

CREATE TABLE public.media (
    id integer NOT NULL,
    alt character varying,
    caption character varying,
    updated_at timestamp(3) with time zone DEFAULT now() NOT NULL,
    created_at timestamp(3) with time zone DEFAULT now() NOT NULL,
    url character varying,
    thumbnail_u_r_l character varying,
    filename character varying,
    mime_type character varying,
    filesize numeric,
    width numeric,
    height numeric,
    focal_x numeric,
    focal_y numeric,
    sizes_thumbnail_url character varying,
    sizes_thumbnail_width numeric,
    sizes_thumbnail_height numeric,
    sizes_thumbnail_mime_type character varying,
    sizes_thumbnail_filesize numeric,
    sizes_thumbnail_filename character varying,
    sizes_card_url character varying,
    sizes_card_width numeric,
    sizes_card_height numeric,
    sizes_card_mime_type character varying,
    sizes_card_filesize numeric,
    sizes_card_filename character varying,
    sizes_hero_url character varying,
    sizes_hero_width numeric,
    sizes_hero_height numeric,
    sizes_hero_mime_type character varying,
    sizes_hero_filesize numeric,
    sizes_hero_filename character varying
);


ALTER TABLE public.media OWNER TO paragon;

--
-- Name: media_id_seq; Type: SEQUENCE; Schema: public; Owner: paragon
--

CREATE SEQUENCE public.media_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.media_id_seq OWNER TO paragon;

--
-- Name: media_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: paragon
--

ALTER SEQUENCE public.media_id_seq OWNED BY public.media.id;


--
-- Name: pages; Type: TABLE; Schema: public; Owner: paragon
--

CREATE TABLE public.pages (
    id integer NOT NULL,
    title character varying NOT NULL,
    slug character varying NOT NULL,
    layout jsonb,
    meta_title character varying,
    meta_description character varying,
    meta_og_image_id integer,
    status public.enum_pages_status DEFAULT 'draft'::public.enum_pages_status,
    updated_at timestamp(3) with time zone DEFAULT now() NOT NULL,
    created_at timestamp(3) with time zone DEFAULT now() NOT NULL
);


ALTER TABLE public.pages OWNER TO paragon;

--
-- Name: pages_id_seq; Type: SEQUENCE; Schema: public; Owner: paragon
--

CREATE SEQUENCE public.pages_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.pages_id_seq OWNER TO paragon;

--
-- Name: pages_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: paragon
--

ALTER SEQUENCE public.pages_id_seq OWNED BY public.pages.id;


--
-- Name: payload_kv; Type: TABLE; Schema: public; Owner: paragon
--

CREATE TABLE public.payload_kv (
    id integer NOT NULL,
    key character varying NOT NULL,
    data jsonb NOT NULL
);


ALTER TABLE public.payload_kv OWNER TO paragon;

--
-- Name: payload_kv_id_seq; Type: SEQUENCE; Schema: public; Owner: paragon
--

CREATE SEQUENCE public.payload_kv_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.payload_kv_id_seq OWNER TO paragon;

--
-- Name: payload_kv_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: paragon
--

ALTER SEQUENCE public.payload_kv_id_seq OWNED BY public.payload_kv.id;


--
-- Name: payload_locked_documents; Type: TABLE; Schema: public; Owner: paragon
--

CREATE TABLE public.payload_locked_documents (
    id integer NOT NULL,
    global_slug character varying,
    updated_at timestamp(3) with time zone DEFAULT now() NOT NULL,
    created_at timestamp(3) with time zone DEFAULT now() NOT NULL
);


ALTER TABLE public.payload_locked_documents OWNER TO paragon;

--
-- Name: payload_locked_documents_id_seq; Type: SEQUENCE; Schema: public; Owner: paragon
--

CREATE SEQUENCE public.payload_locked_documents_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.payload_locked_documents_id_seq OWNER TO paragon;

--
-- Name: payload_locked_documents_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: paragon
--

ALTER SEQUENCE public.payload_locked_documents_id_seq OWNED BY public.payload_locked_documents.id;


--
-- Name: payload_locked_documents_rels; Type: TABLE; Schema: public; Owner: paragon
--

CREATE TABLE public.payload_locked_documents_rels (
    id integer NOT NULL,
    "order" integer,
    parent_id integer NOT NULL,
    path character varying NOT NULL,
    users_id integer,
    media_id integer,
    pages_id integer,
    products_id integer,
    dealers_id integer,
    careers_id integer,
    hero_slides_id integer
);


ALTER TABLE public.payload_locked_documents_rels OWNER TO paragon;

--
-- Name: payload_locked_documents_rels_id_seq; Type: SEQUENCE; Schema: public; Owner: paragon
--

CREATE SEQUENCE public.payload_locked_documents_rels_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.payload_locked_documents_rels_id_seq OWNER TO paragon;

--
-- Name: payload_locked_documents_rels_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: paragon
--

ALTER SEQUENCE public.payload_locked_documents_rels_id_seq OWNED BY public.payload_locked_documents_rels.id;


--
-- Name: payload_migrations; Type: TABLE; Schema: public; Owner: paragon
--

CREATE TABLE public.payload_migrations (
    id integer NOT NULL,
    name character varying,
    batch numeric,
    updated_at timestamp(3) with time zone DEFAULT now() NOT NULL,
    created_at timestamp(3) with time zone DEFAULT now() NOT NULL
);


ALTER TABLE public.payload_migrations OWNER TO paragon;

--
-- Name: payload_migrations_id_seq; Type: SEQUENCE; Schema: public; Owner: paragon
--

CREATE SEQUENCE public.payload_migrations_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.payload_migrations_id_seq OWNER TO paragon;

--
-- Name: payload_migrations_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: paragon
--

ALTER SEQUENCE public.payload_migrations_id_seq OWNED BY public.payload_migrations.id;


--
-- Name: payload_preferences; Type: TABLE; Schema: public; Owner: paragon
--

CREATE TABLE public.payload_preferences (
    id integer NOT NULL,
    key character varying,
    value jsonb,
    updated_at timestamp(3) with time zone DEFAULT now() NOT NULL,
    created_at timestamp(3) with time zone DEFAULT now() NOT NULL
);


ALTER TABLE public.payload_preferences OWNER TO paragon;

--
-- Name: payload_preferences_id_seq; Type: SEQUENCE; Schema: public; Owner: paragon
--

CREATE SEQUENCE public.payload_preferences_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.payload_preferences_id_seq OWNER TO paragon;

--
-- Name: payload_preferences_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: paragon
--

ALTER SEQUENCE public.payload_preferences_id_seq OWNED BY public.payload_preferences.id;


--
-- Name: payload_preferences_rels; Type: TABLE; Schema: public; Owner: paragon
--

CREATE TABLE public.payload_preferences_rels (
    id integer NOT NULL,
    "order" integer,
    parent_id integer NOT NULL,
    path character varying NOT NULL,
    users_id integer
);


ALTER TABLE public.payload_preferences_rels OWNER TO paragon;

--
-- Name: payload_preferences_rels_id_seq; Type: SEQUENCE; Schema: public; Owner: paragon
--

CREATE SEQUENCE public.payload_preferences_rels_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.payload_preferences_rels_id_seq OWNER TO paragon;

--
-- Name: payload_preferences_rels_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: paragon
--

ALTER SEQUENCE public.payload_preferences_rels_id_seq OWNED BY public.payload_preferences_rels.id;


--
-- Name: products; Type: TABLE; Schema: public; Owner: paragon
--

CREATE TABLE public.products (
    id integer NOT NULL,
    name character varying NOT NULL,
    name_bn character varying NOT NULL,
    slug character varying NOT NULL,
    category public.enum_products_category,
    image_id integer,
    short_description character varying,
    description jsonb,
    usage jsonb,
    price numeric,
    weight character varying,
    status public.enum_products_status DEFAULT 'published'::public.enum_products_status,
    featured boolean,
    updated_at timestamp(3) with time zone DEFAULT now() NOT NULL,
    created_at timestamp(3) with time zone DEFAULT now() NOT NULL
);


ALTER TABLE public.products OWNER TO paragon;

--
-- Name: products_benefits; Type: TABLE; Schema: public; Owner: paragon
--

CREATE TABLE public.products_benefits (
    _order integer NOT NULL,
    _parent_id integer NOT NULL,
    id character varying NOT NULL,
    benefit character varying
);


ALTER TABLE public.products_benefits OWNER TO paragon;

--
-- Name: products_gallery; Type: TABLE; Schema: public; Owner: paragon
--

CREATE TABLE public.products_gallery (
    _order integer NOT NULL,
    _parent_id integer NOT NULL,
    id character varying NOT NULL,
    image_id integer
);


ALTER TABLE public.products_gallery OWNER TO paragon;

--
-- Name: products_id_seq; Type: SEQUENCE; Schema: public; Owner: paragon
--

CREATE SEQUENCE public.products_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.products_id_seq OWNER TO paragon;

--
-- Name: products_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: paragon
--

ALTER SEQUENCE public.products_id_seq OWNED BY public.products.id;


--
-- Name: site_settings; Type: TABLE; Schema: public; Owner: paragon
--

CREATE TABLE public.site_settings (
    id integer NOT NULL,
    site_name character varying DEFAULT 'αª¬αºìαª»αª╛αª░αª╛αªùαª¿'::character varying,
    site_subtitle character varying DEFAULT 'Organic Fertilizer'::character varying,
    logo_id integer,
    cta_label character varying DEFAULT 'αªÅαªûαª¿αªç αªòαª┐αª¿αºüαª¿'::character varying,
    cta_href character varying DEFAULT '/contact'::character varying,
    updated_at timestamp(3) with time zone,
    created_at timestamp(3) with time zone
);


ALTER TABLE public.site_settings OWNER TO paragon;

--
-- Name: site_settings_id_seq; Type: SEQUENCE; Schema: public; Owner: paragon
--

CREATE SEQUENCE public.site_settings_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.site_settings_id_seq OWNER TO paragon;

--
-- Name: site_settings_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: paragon
--

ALTER SEQUENCE public.site_settings_id_seq OWNED BY public.site_settings.id;


--
-- Name: site_settings_social_links; Type: TABLE; Schema: public; Owner: paragon
--

CREATE TABLE public.site_settings_social_links (
    _order integer NOT NULL,
    _parent_id integer NOT NULL,
    id character varying NOT NULL,
    icon public.enum_site_settings_social_links_icon,
    url character varying,
    label character varying
);


ALTER TABLE public.site_settings_social_links OWNER TO paragon;

--
-- Name: users; Type: TABLE; Schema: public; Owner: paragon
--

CREATE TABLE public.users (
    id integer NOT NULL,
    name character varying NOT NULL,
    role public.enum_users_role DEFAULT 'editor'::public.enum_users_role,
    updated_at timestamp(3) with time zone DEFAULT now() NOT NULL,
    created_at timestamp(3) with time zone DEFAULT now() NOT NULL,
    email character varying NOT NULL,
    reset_password_token character varying,
    reset_password_expiration timestamp(3) with time zone,
    salt character varying,
    hash character varying,
    login_attempts numeric DEFAULT 0,
    lock_until timestamp(3) with time zone,
    photo_id integer
);


ALTER TABLE public.users OWNER TO paragon;

--
-- Name: users_id_seq; Type: SEQUENCE; Schema: public; Owner: paragon
--

CREATE SEQUENCE public.users_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.users_id_seq OWNER TO paragon;

--
-- Name: users_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: paragon
--

ALTER SEQUENCE public.users_id_seq OWNED BY public.users.id;


--
-- Name: users_sessions; Type: TABLE; Schema: public; Owner: paragon
--

CREATE TABLE public.users_sessions (
    _order integer NOT NULL,
    _parent_id integer NOT NULL,
    id character varying NOT NULL,
    created_at timestamp(3) with time zone,
    expires_at timestamp(3) with time zone NOT NULL
);


ALTER TABLE public.users_sessions OWNER TO paragon;

--
-- Name: careers id; Type: DEFAULT; Schema: public; Owner: paragon
--

ALTER TABLE ONLY public.careers ALTER COLUMN id SET DEFAULT nextval('public.careers_id_seq'::regclass);


--
-- Name: dealers id; Type: DEFAULT; Schema: public; Owner: paragon
--

ALTER TABLE ONLY public.dealers ALTER COLUMN id SET DEFAULT nextval('public.dealers_id_seq'::regclass);


--
-- Name: hero_slides id; Type: DEFAULT; Schema: public; Owner: paragon
--

ALTER TABLE ONLY public.hero_slides ALTER COLUMN id SET DEFAULT nextval('public.hero_slides_id_seq'::regclass);


--
-- Name: media id; Type: DEFAULT; Schema: public; Owner: paragon
--

ALTER TABLE ONLY public.media ALTER COLUMN id SET DEFAULT nextval('public.media_id_seq'::regclass);


--
-- Name: pages id; Type: DEFAULT; Schema: public; Owner: paragon
--

ALTER TABLE ONLY public.pages ALTER COLUMN id SET DEFAULT nextval('public.pages_id_seq'::regclass);


--
-- Name: payload_kv id; Type: DEFAULT; Schema: public; Owner: paragon
--

ALTER TABLE ONLY public.payload_kv ALTER COLUMN id SET DEFAULT nextval('public.payload_kv_id_seq'::regclass);


--
-- Name: payload_locked_documents id; Type: DEFAULT; Schema: public; Owner: paragon
--

ALTER TABLE ONLY public.payload_locked_documents ALTER COLUMN id SET DEFAULT nextval('public.payload_locked_documents_id_seq'::regclass);


--
-- Name: payload_locked_documents_rels id; Type: DEFAULT; Schema: public; Owner: paragon
--

ALTER TABLE ONLY public.payload_locked_documents_rels ALTER COLUMN id SET DEFAULT nextval('public.payload_locked_documents_rels_id_seq'::regclass);


--
-- Name: payload_migrations id; Type: DEFAULT; Schema: public; Owner: paragon
--

ALTER TABLE ONLY public.payload_migrations ALTER COLUMN id SET DEFAULT nextval('public.payload_migrations_id_seq'::regclass);


--
-- Name: payload_preferences id; Type: DEFAULT; Schema: public; Owner: paragon
--

ALTER TABLE ONLY public.payload_preferences ALTER COLUMN id SET DEFAULT nextval('public.payload_preferences_id_seq'::regclass);


--
-- Name: payload_preferences_rels id; Type: DEFAULT; Schema: public; Owner: paragon
--

ALTER TABLE ONLY public.payload_preferences_rels ALTER COLUMN id SET DEFAULT nextval('public.payload_preferences_rels_id_seq'::regclass);


--
-- Name: products id; Type: DEFAULT; Schema: public; Owner: paragon
--

ALTER TABLE ONLY public.products ALTER COLUMN id SET DEFAULT nextval('public.products_id_seq'::regclass);


--
-- Name: site_settings id; Type: DEFAULT; Schema: public; Owner: paragon
--

ALTER TABLE ONLY public.site_settings ALTER COLUMN id SET DEFAULT nextval('public.site_settings_id_seq'::regclass);


--
-- Name: users id; Type: DEFAULT; Schema: public; Owner: paragon
--

ALTER TABLE ONLY public.users ALTER COLUMN id SET DEFAULT nextval('public.users_id_seq'::regclass);


--
-- Data for Name: careers; Type: TABLE DATA; Schema: public; Owner: paragon
--

COPY public.careers (id, title, department, type, location, description, requirements, salary, deadline, status, updated_at, created_at) FROM stdin;
\.


--
-- Data for Name: dealers; Type: TABLE DATA; Schema: public; Owner: paragon
--

COPY public.dealers (id, name, district, upazila, address, phone, alternate_phone, type, coordinates_lat, coordinates_lng, updated_at, created_at) FROM stdin;
\.


--
-- Data for Name: hero_slides; Type: TABLE DATA; Schema: public; Owner: paragon
--

COPY public.hero_slides (id, heading_bn, tag_bn, tag_en, subtitle_bn, cta1_label, cta1_href, cta2_label, cta2_href, bg_color, accent_color, "order", active, updated_at, created_at, image_id) FROM stdin;
1	sdfsdfs	sdfsdf	dsfsd	sdfsdf	ab	ab	ab	AB	linear-gradient(135deg, #0a1f14 0%, #1B4D3E 55%, #2D7A3A 100%)	#D4A017	1	t	2026-06-08 10:04:41.221+00	2026-06-08 10:04:41.221+00	1
2	EDRQW	WEDRWQ	EDQ	SDEF	sdcf	sdfs	sdf	sdf	linear-gradient(135deg, #0a1f14 0%, #1B4D3E 55%, #2D7A3A 100%)	#D4A017	1	t	2026-06-08 10:05:16.361+00	2026-06-08 10:05:16.361+00	2
\.


--
-- Data for Name: media; Type: TABLE DATA; Schema: public; Owner: paragon
--



--
-- Data for Name: pages; Type: TABLE DATA; Schema: public; Owner: paragon
--



--
-- Data for Name: payload_kv; Type: TABLE DATA; Schema: public; Owner: paragon
--

COPY public.payload_kv (id, key, data) FROM stdin;
\.


--
-- Data for Name: payload_locked_documents; Type: TABLE DATA; Schema: public; Owner: paragon
--

COPY public.payload_locked_documents (id, global_slug, updated_at, created_at) FROM stdin;
\.


--
-- Data for Name: payload_locked_documents_rels; Type: TABLE DATA; Schema: public; Owner: paragon
--

COPY public.payload_locked_documents_rels (id, "order", parent_id, path, users_id, media_id, pages_id, products_id, dealers_id, careers_id, hero_slides_id) FROM stdin;
\.


--
-- Data for Name: payload_migrations; Type: TABLE DATA; Schema: public; Owner: paragon
--

COPY public.payload_migrations (id, name, batch, updated_at, created_at) FROM stdin;
1	dev	-1	2026-06-15 06:21:51.75+00	2026-06-08 04:14:13.269+00
\.


--
-- Data for Name: payload_preferences; Type: TABLE DATA; Schema: public; Owner: paragon
--



--
-- Data for Name: payload_preferences_rels; Type: TABLE DATA; Schema: public; Owner: paragon
--

COPY public.payload_preferences_rels (id, "order", parent_id, path, users_id) FROM stdin;
1	\N	1	user	1
4	\N	3	user	1
6	\N	2	user	1
12	\N	5	user	1
15	\N	7	user	1
16	\N	8	user	1
17	\N	9	user	1
22	\N	6	user	1
23	\N	4	user	1
\.


--
-- Data for Name: products; Type: TABLE DATA; Schema: public; Owner: paragon
--

COPY public.products (id, name, name_bn, slug, category, image_id, short_description, description, usage, price, weight, status, featured, updated_at, created_at) FROM stdin;
\.


--
-- Data for Name: products_benefits; Type: TABLE DATA; Schema: public; Owner: paragon
--

COPY public.products_benefits (_order, _parent_id, id, benefit) FROM stdin;
\.


--
-- Data for Name: products_gallery; Type: TABLE DATA; Schema: public; Owner: paragon
--

COPY public.products_gallery (_order, _parent_id, id, image_id) FROM stdin;
\.


--
-- Data for Name: site_settings; Type: TABLE DATA; Schema: public; Owner: paragon
--

COPY public.site_settings (id, site_name, site_subtitle, logo_id, cta_label, cta_href, updated_at, created_at) FROM stdin;
1	αª¬αºìαª»αª╛αª░αª╛αªùαª¿	Organic Fertilizer	\N	αªÅαªûαª¿αªç αªòαª┐αª¿αºüαª¿	/contact	2026-06-11 10:33:04.924+00	2026-06-11 10:07:59.244+00
\.


--
-- Data for Name: site_settings_social_links; Type: TABLE DATA; Schema: public; Owner: paragon
--



--
-- Data for Name: users; Type: TABLE DATA; Schema: public; Owner: paragon
--



--
-- Data for Name: users_sessions; Type: TABLE DATA; Schema: public; Owner: paragon
--

COPY public.users_sessions (_order, _parent_id, id, created_at, expires_at) FROM stdin;
1	1	237481a3-a0d1-4200-80aa-ee959155d33c	2026-06-15 05:55:19.852+00	2026-06-15 07:55:19.852+00
\.


--
-- Name: careers_id_seq; Type: SEQUENCE SET; Schema: public; Owner: paragon
--

SELECT pg_catalog.setval('public.careers_id_seq', 1, false);


--
-- Name: dealers_id_seq; Type: SEQUENCE SET; Schema: public; Owner: paragon
--

SELECT pg_catalog.setval('public.dealers_id_seq', 1, false);


--
-- Name: hero_slides_id_seq; Type: SEQUENCE SET; Schema: public; Owner: paragon
--

SELECT pg_catalog.setval('public.hero_slides_id_seq', 2, true);


--
-- Name: media_id_seq; Type: SEQUENCE SET; Schema: public; Owner: paragon
--

SELECT pg_catalog.setval('public.media_id_seq', 2, true);


--
-- Name: pages_id_seq; Type: SEQUENCE SET; Schema: public; Owner: paragon
--

SELECT pg_catalog.setval('public.pages_id_seq', 13, true);


--
-- Name: payload_kv_id_seq; Type: SEQUENCE SET; Schema: public; Owner: paragon
--

SELECT pg_catalog.setval('public.payload_kv_id_seq', 1, false);


--
-- Name: payload_locked_documents_id_seq; Type: SEQUENCE SET; Schema: public; Owner: paragon
--

SELECT pg_catalog.setval('public.payload_locked_documents_id_seq', 5, true);


--
-- Name: payload_locked_documents_rels_id_seq; Type: SEQUENCE SET; Schema: public; Owner: paragon
--

SELECT pg_catalog.setval('public.payload_locked_documents_rels_id_seq', 6, true);


--
-- Name: payload_migrations_id_seq; Type: SEQUENCE SET; Schema: public; Owner: paragon
--

SELECT pg_catalog.setval('public.payload_migrations_id_seq', 1, true);


--
-- Name: payload_preferences_id_seq; Type: SEQUENCE SET; Schema: public; Owner: paragon
--

SELECT pg_catalog.setval('public.payload_preferences_id_seq', 9, true);


--
-- Name: payload_preferences_rels_id_seq; Type: SEQUENCE SET; Schema: public; Owner: paragon
--

SELECT pg_catalog.setval('public.payload_preferences_rels_id_seq', 23, true);


--
-- Name: products_id_seq; Type: SEQUENCE SET; Schema: public; Owner: paragon
--

SELECT pg_catalog.setval('public.products_id_seq', 1, false);


--
-- Name: site_settings_id_seq; Type: SEQUENCE SET; Schema: public; Owner: paragon
--

SELECT pg_catalog.setval('public.site_settings_id_seq', 1, true);


--
-- Name: users_id_seq; Type: SEQUENCE SET; Schema: public; Owner: paragon
--

SELECT pg_catalog.setval('public.users_id_seq', 1, true);


--
-- Name: careers careers_pkey; Type: CONSTRAINT; Schema: public; Owner: paragon
--

ALTER TABLE ONLY public.careers
    ADD CONSTRAINT careers_pkey PRIMARY KEY (id);


--
-- Name: dealers dealers_pkey; Type: CONSTRAINT; Schema: public; Owner: paragon
--

ALTER TABLE ONLY public.dealers
    ADD CONSTRAINT dealers_pkey PRIMARY KEY (id);


--
-- Name: hero_slides hero_slides_pkey; Type: CONSTRAINT; Schema: public; Owner: paragon
--

ALTER TABLE ONLY public.hero_slides
    ADD CONSTRAINT hero_slides_pkey PRIMARY KEY (id);


--
-- Name: media media_pkey; Type: CONSTRAINT; Schema: public; Owner: paragon
--

ALTER TABLE ONLY public.media
    ADD CONSTRAINT media_pkey PRIMARY KEY (id);


--
-- Name: pages pages_pkey; Type: CONSTRAINT; Schema: public; Owner: paragon
--

ALTER TABLE ONLY public.pages
    ADD CONSTRAINT pages_pkey PRIMARY KEY (id);


--
-- Name: payload_kv payload_kv_pkey; Type: CONSTRAINT; Schema: public; Owner: paragon
--

ALTER TABLE ONLY public.payload_kv
    ADD CONSTRAINT payload_kv_pkey PRIMARY KEY (id);


--
-- Name: payload_locked_documents payload_locked_documents_pkey; Type: CONSTRAINT; Schema: public; Owner: paragon
--

ALTER TABLE ONLY public.payload_locked_documents
    ADD CONSTRAINT payload_locked_documents_pkey PRIMARY KEY (id);


--
-- Name: payload_locked_documents_rels payload_locked_documents_rels_pkey; Type: CONSTRAINT; Schema: public; Owner: paragon
--

ALTER TABLE ONLY public.payload_locked_documents_rels
    ADD CONSTRAINT payload_locked_documents_rels_pkey PRIMARY KEY (id);


--
-- Name: payload_migrations payload_migrations_pkey; Type: CONSTRAINT; Schema: public; Owner: paragon
--

ALTER TABLE ONLY public.payload_migrations
    ADD CONSTRAINT payload_migrations_pkey PRIMARY KEY (id);


--
-- Name: payload_preferences payload_preferences_pkey; Type: CONSTRAINT; Schema: public; Owner: paragon
--

ALTER TABLE ONLY public.payload_preferences
    ADD CONSTRAINT payload_preferences_pkey PRIMARY KEY (id);


--
-- Name: payload_preferences_rels payload_preferences_rels_pkey; Type: CONSTRAINT; Schema: public; Owner: paragon
--

ALTER TABLE ONLY public.payload_preferences_rels
    ADD CONSTRAINT payload_preferences_rels_pkey PRIMARY KEY (id);


--
-- Name: products_benefits products_benefits_pkey; Type: CONSTRAINT; Schema: public; Owner: paragon
--

ALTER TABLE ONLY public.products_benefits
    ADD CONSTRAINT products_benefits_pkey PRIMARY KEY (id);


--
-- Name: products_gallery products_gallery_pkey; Type: CONSTRAINT; Schema: public; Owner: paragon
--

ALTER TABLE ONLY public.products_gallery
    ADD CONSTRAINT products_gallery_pkey PRIMARY KEY (id);


--
-- Name: products products_pkey; Type: CONSTRAINT; Schema: public; Owner: paragon
--

ALTER TABLE ONLY public.products
    ADD CONSTRAINT products_pkey PRIMARY KEY (id);


--
-- Name: site_settings site_settings_pkey; Type: CONSTRAINT; Schema: public; Owner: paragon
--

ALTER TABLE ONLY public.site_settings
    ADD CONSTRAINT site_settings_pkey PRIMARY KEY (id);


--
-- Name: site_settings_social_links site_settings_social_links_pkey; Type: CONSTRAINT; Schema: public; Owner: paragon
--

ALTER TABLE ONLY public.site_settings_social_links
    ADD CONSTRAINT site_settings_social_links_pkey PRIMARY KEY (id);


--
-- Name: users users_pkey; Type: CONSTRAINT; Schema: public; Owner: paragon
--

ALTER TABLE ONLY public.users
    ADD CONSTRAINT users_pkey PRIMARY KEY (id);


--
-- Name: users_sessions users_sessions_pkey; Type: CONSTRAINT; Schema: public; Owner: paragon
--

ALTER TABLE ONLY public.users_sessions
    ADD CONSTRAINT users_sessions_pkey PRIMARY KEY (id);


--
-- Name: careers_created_at_idx; Type: INDEX; Schema: public; Owner: paragon
--

CREATE INDEX careers_created_at_idx ON public.careers USING btree (created_at);


--
-- Name: careers_updated_at_idx; Type: INDEX; Schema: public; Owner: paragon
--

CREATE INDEX careers_updated_at_idx ON public.careers USING btree (updated_at);


--
-- Name: dealers_created_at_idx; Type: INDEX; Schema: public; Owner: paragon
--

CREATE INDEX dealers_created_at_idx ON public.dealers USING btree (created_at);


--
-- Name: dealers_updated_at_idx; Type: INDEX; Schema: public; Owner: paragon
--

CREATE INDEX dealers_updated_at_idx ON public.dealers USING btree (updated_at);


--
-- Name: hero_slides_created_at_idx; Type: INDEX; Schema: public; Owner: paragon
--

CREATE INDEX hero_slides_created_at_idx ON public.hero_slides USING btree (created_at);


--
-- Name: hero_slides_image_idx; Type: INDEX; Schema: public; Owner: paragon
--

CREATE INDEX hero_slides_image_idx ON public.hero_slides USING btree (image_id);


--
-- Name: hero_slides_updated_at_idx; Type: INDEX; Schema: public; Owner: paragon
--

CREATE INDEX hero_slides_updated_at_idx ON public.hero_slides USING btree (updated_at);


--
-- Name: media_created_at_idx; Type: INDEX; Schema: public; Owner: paragon
--

CREATE INDEX media_created_at_idx ON public.media USING btree (created_at);


--
-- Name: media_filename_idx; Type: INDEX; Schema: public; Owner: paragon
--

CREATE UNIQUE INDEX media_filename_idx ON public.media USING btree (filename);


--
-- Name: media_sizes_card_sizes_card_filename_idx; Type: INDEX; Schema: public; Owner: paragon
--

CREATE INDEX media_sizes_card_sizes_card_filename_idx ON public.media USING btree (sizes_card_filename);


--
-- Name: media_sizes_hero_sizes_hero_filename_idx; Type: INDEX; Schema: public; Owner: paragon
--

CREATE INDEX media_sizes_hero_sizes_hero_filename_idx ON public.media USING btree (sizes_hero_filename);


--
-- Name: media_sizes_thumbnail_sizes_thumbnail_filename_idx; Type: INDEX; Schema: public; Owner: paragon
--

CREATE INDEX media_sizes_thumbnail_sizes_thumbnail_filename_idx ON public.media USING btree (sizes_thumbnail_filename);


--
-- Name: media_updated_at_idx; Type: INDEX; Schema: public; Owner: paragon
--

CREATE INDEX media_updated_at_idx ON public.media USING btree (updated_at);


--
-- Name: pages_created_at_idx; Type: INDEX; Schema: public; Owner: paragon
--

CREATE INDEX pages_created_at_idx ON public.pages USING btree (created_at);


--
-- Name: pages_meta_meta_og_image_idx; Type: INDEX; Schema: public; Owner: paragon
--

CREATE INDEX pages_meta_meta_og_image_idx ON public.pages USING btree (meta_og_image_id);


--
-- Name: pages_slug_idx; Type: INDEX; Schema: public; Owner: paragon
--

CREATE UNIQUE INDEX pages_slug_idx ON public.pages USING btree (slug);


--
-- Name: pages_updated_at_idx; Type: INDEX; Schema: public; Owner: paragon
--

CREATE INDEX pages_updated_at_idx ON public.pages USING btree (updated_at);


--
-- Name: payload_kv_key_idx; Type: INDEX; Schema: public; Owner: paragon
--

CREATE UNIQUE INDEX payload_kv_key_idx ON public.payload_kv USING btree (key);


--
-- Name: payload_locked_documents_created_at_idx; Type: INDEX; Schema: public; Owner: paragon
--

CREATE INDEX payload_locked_documents_created_at_idx ON public.payload_locked_documents USING btree (created_at);


--
-- Name: payload_locked_documents_global_slug_idx; Type: INDEX; Schema: public; Owner: paragon
--

CREATE INDEX payload_locked_documents_global_slug_idx ON public.payload_locked_documents USING btree (global_slug);


--
-- Name: payload_locked_documents_rels_careers_id_idx; Type: INDEX; Schema: public; Owner: paragon
--

CREATE INDEX payload_locked_documents_rels_careers_id_idx ON public.payload_locked_documents_rels USING btree (careers_id);


--
-- Name: payload_locked_documents_rels_dealers_id_idx; Type: INDEX; Schema: public; Owner: paragon
--

CREATE INDEX payload_locked_documents_rels_dealers_id_idx ON public.payload_locked_documents_rels USING btree (dealers_id);


--
-- Name: payload_locked_documents_rels_hero_slides_id_idx; Type: INDEX; Schema: public; Owner: paragon
--

CREATE INDEX payload_locked_documents_rels_hero_slides_id_idx ON public.payload_locked_documents_rels USING btree (hero_slides_id);


--
-- Name: payload_locked_documents_rels_media_id_idx; Type: INDEX; Schema: public; Owner: paragon
--

CREATE INDEX payload_locked_documents_rels_media_id_idx ON public.payload_locked_documents_rels USING btree (media_id);


--
-- Name: payload_locked_documents_rels_order_idx; Type: INDEX; Schema: public; Owner: paragon
--

CREATE INDEX payload_locked_documents_rels_order_idx ON public.payload_locked_documents_rels USING btree ("order");


--
-- Name: payload_locked_documents_rels_pages_id_idx; Type: INDEX; Schema: public; Owner: paragon
--

CREATE INDEX payload_locked_documents_rels_pages_id_idx ON public.payload_locked_documents_rels USING btree (pages_id);


--
-- Name: payload_locked_documents_rels_parent_idx; Type: INDEX; Schema: public; Owner: paragon
--

CREATE INDEX payload_locked_documents_rels_parent_idx ON public.payload_locked_documents_rels USING btree (parent_id);


--
-- Name: payload_locked_documents_rels_path_idx; Type: INDEX; Schema: public; Owner: paragon
--

CREATE INDEX payload_locked_documents_rels_path_idx ON public.payload_locked_documents_rels USING btree (path);


--
-- Name: payload_locked_documents_rels_products_id_idx; Type: INDEX; Schema: public; Owner: paragon
--

CREATE INDEX payload_locked_documents_rels_products_id_idx ON public.payload_locked_documents_rels USING btree (products_id);


--
-- Name: payload_locked_documents_rels_users_id_idx; Type: INDEX; Schema: public; Owner: paragon
--

CREATE INDEX payload_locked_documents_rels_users_id_idx ON public.payload_locked_documents_rels USING btree (users_id);


--
-- Name: payload_locked_documents_updated_at_idx; Type: INDEX; Schema: public; Owner: paragon
--

CREATE INDEX payload_locked_documents_updated_at_idx ON public.payload_locked_documents USING btree (updated_at);


--
-- Name: payload_migrations_created_at_idx; Type: INDEX; Schema: public; Owner: paragon
--

CREATE INDEX payload_migrations_created_at_idx ON public.payload_migrations USING btree (created_at);


--
-- Name: payload_migrations_updated_at_idx; Type: INDEX; Schema: public; Owner: paragon
--

CREATE INDEX payload_migrations_updated_at_idx ON public.payload_migrations USING btree (updated_at);


--
-- Name: payload_preferences_created_at_idx; Type: INDEX; Schema: public; Owner: paragon
--

CREATE INDEX payload_preferences_created_at_idx ON public.payload_preferences USING btree (created_at);


--
-- Name: payload_preferences_key_idx; Type: INDEX; Schema: public; Owner: paragon
--

CREATE INDEX payload_preferences_key_idx ON public.payload_preferences USING btree (key);


--
-- Name: payload_preferences_rels_order_idx; Type: INDEX; Schema: public; Owner: paragon
--

CREATE INDEX payload_preferences_rels_order_idx ON public.payload_preferences_rels USING btree ("order");


--
-- Name: payload_preferences_rels_parent_idx; Type: INDEX; Schema: public; Owner: paragon
--

CREATE INDEX payload_preferences_rels_parent_idx ON public.payload_preferences_rels USING btree (parent_id);


--
-- Name: payload_preferences_rels_path_idx; Type: INDEX; Schema: public; Owner: paragon
--

CREATE INDEX payload_preferences_rels_path_idx ON public.payload_preferences_rels USING btree (path);


--
-- Name: payload_preferences_rels_users_id_idx; Type: INDEX; Schema: public; Owner: paragon
--

CREATE INDEX payload_preferences_rels_users_id_idx ON public.payload_preferences_rels USING btree (users_id);


--
-- Name: payload_preferences_updated_at_idx; Type: INDEX; Schema: public; Owner: paragon
--

CREATE INDEX payload_preferences_updated_at_idx ON public.payload_preferences USING btree (updated_at);


--
-- Name: products_benefits_order_idx; Type: INDEX; Schema: public; Owner: paragon
--

CREATE INDEX products_benefits_order_idx ON public.products_benefits USING btree (_order);


--
-- Name: products_benefits_parent_id_idx; Type: INDEX; Schema: public; Owner: paragon
--

CREATE INDEX products_benefits_parent_id_idx ON public.products_benefits USING btree (_parent_id);


--
-- Name: products_created_at_idx; Type: INDEX; Schema: public; Owner: paragon
--

CREATE INDEX products_created_at_idx ON public.products USING btree (created_at);


--
-- Name: products_gallery_image_idx; Type: INDEX; Schema: public; Owner: paragon
--

CREATE INDEX products_gallery_image_idx ON public.products_gallery USING btree (image_id);


--
-- Name: products_gallery_order_idx; Type: INDEX; Schema: public; Owner: paragon
--

CREATE INDEX products_gallery_order_idx ON public.products_gallery USING btree (_order);


--
-- Name: products_gallery_parent_id_idx; Type: INDEX; Schema: public; Owner: paragon
--

CREATE INDEX products_gallery_parent_id_idx ON public.products_gallery USING btree (_parent_id);


--
-- Name: products_image_idx; Type: INDEX; Schema: public; Owner: paragon
--

CREATE INDEX products_image_idx ON public.products USING btree (image_id);


--
-- Name: products_slug_idx; Type: INDEX; Schema: public; Owner: paragon
--

CREATE UNIQUE INDEX products_slug_idx ON public.products USING btree (slug);


--
-- Name: products_updated_at_idx; Type: INDEX; Schema: public; Owner: paragon
--

CREATE INDEX products_updated_at_idx ON public.products USING btree (updated_at);


--
-- Name: site_settings_logo_idx; Type: INDEX; Schema: public; Owner: paragon
--

CREATE INDEX site_settings_logo_idx ON public.site_settings USING btree (logo_id);


--
-- Name: site_settings_social_links_order_idx; Type: INDEX; Schema: public; Owner: paragon
--

CREATE INDEX site_settings_social_links_order_idx ON public.site_settings_social_links USING btree (_order);


--
-- Name: site_settings_social_links_parent_id_idx; Type: INDEX; Schema: public; Owner: paragon
--

CREATE INDEX site_settings_social_links_parent_id_idx ON public.site_settings_social_links USING btree (_parent_id);


--
-- Name: users_created_at_idx; Type: INDEX; Schema: public; Owner: paragon
--

CREATE INDEX users_created_at_idx ON public.users USING btree (created_at);


--
-- Name: users_email_idx; Type: INDEX; Schema: public; Owner: paragon
--

CREATE UNIQUE INDEX users_email_idx ON public.users USING btree (email);


--
-- Name: users_photo_idx; Type: INDEX; Schema: public; Owner: paragon
--

CREATE INDEX users_photo_idx ON public.users USING btree (photo_id);


--
-- Name: users_sessions_order_idx; Type: INDEX; Schema: public; Owner: paragon
--

CREATE INDEX users_sessions_order_idx ON public.users_sessions USING btree (_order);


--
-- Name: users_sessions_parent_id_idx; Type: INDEX; Schema: public; Owner: paragon
--

CREATE INDEX users_sessions_parent_id_idx ON public.users_sessions USING btree (_parent_id);


--
-- Name: users_updated_at_idx; Type: INDEX; Schema: public; Owner: paragon
--

CREATE INDEX users_updated_at_idx ON public.users USING btree (updated_at);


--
-- Name: hero_slides hero_slides_image_id_media_id_fk; Type: FK CONSTRAINT; Schema: public; Owner: paragon
--

ALTER TABLE ONLY public.hero_slides
    ADD CONSTRAINT hero_slides_image_id_media_id_fk FOREIGN KEY (image_id) REFERENCES public.media(id) ON DELETE SET NULL;


--
-- Name: pages pages_meta_og_image_id_media_id_fk; Type: FK CONSTRAINT; Schema: public; Owner: paragon
--

ALTER TABLE ONLY public.pages
    ADD CONSTRAINT pages_meta_og_image_id_media_id_fk FOREIGN KEY (meta_og_image_id) REFERENCES public.media(id) ON DELETE SET NULL;


--
-- Name: payload_locked_documents_rels payload_locked_documents_rels_careers_fk; Type: FK CONSTRAINT; Schema: public; Owner: paragon
--

ALTER TABLE ONLY public.payload_locked_documents_rels
    ADD CONSTRAINT payload_locked_documents_rels_careers_fk FOREIGN KEY (careers_id) REFERENCES public.careers(id) ON DELETE CASCADE;


--
-- Name: payload_locked_documents_rels payload_locked_documents_rels_dealers_fk; Type: FK CONSTRAINT; Schema: public; Owner: paragon
--

ALTER TABLE ONLY public.payload_locked_documents_rels
    ADD CONSTRAINT payload_locked_documents_rels_dealers_fk FOREIGN KEY (dealers_id) REFERENCES public.dealers(id) ON DELETE CASCADE;


--
-- Name: payload_locked_documents_rels payload_locked_documents_rels_hero_slides_fk; Type: FK CONSTRAINT; Schema: public; Owner: paragon
--

ALTER TABLE ONLY public.payload_locked_documents_rels
    ADD CONSTRAINT payload_locked_documents_rels_hero_slides_fk FOREIGN KEY (hero_slides_id) REFERENCES public.hero_slides(id) ON DELETE CASCADE;


--
-- Name: payload_locked_documents_rels payload_locked_documents_rels_media_fk; Type: FK CONSTRAINT; Schema: public; Owner: paragon
--

ALTER TABLE ONLY public.payload_locked_documents_rels
    ADD CONSTRAINT payload_locked_documents_rels_media_fk FOREIGN KEY (media_id) REFERENCES public.media(id) ON DELETE CASCADE;


--
-- Name: payload_locked_documents_rels payload_locked_documents_rels_pages_fk; Type: FK CONSTRAINT; Schema: public; Owner: paragon
--

ALTER TABLE ONLY public.payload_locked_documents_rels
    ADD CONSTRAINT payload_locked_documents_rels_pages_fk FOREIGN KEY (pages_id) REFERENCES public.pages(id) ON DELETE CASCADE;


--
-- Name: payload_locked_documents_rels payload_locked_documents_rels_parent_fk; Type: FK CONSTRAINT; Schema: public; Owner: paragon
--

ALTER TABLE ONLY public.payload_locked_documents_rels
    ADD CONSTRAINT payload_locked_documents_rels_parent_fk FOREIGN KEY (parent_id) REFERENCES public.payload_locked_documents(id) ON DELETE CASCADE;


--
-- Name: payload_locked_documents_rels payload_locked_documents_rels_products_fk; Type: FK CONSTRAINT; Schema: public; Owner: paragon
--

ALTER TABLE ONLY public.payload_locked_documents_rels
    ADD CONSTRAINT payload_locked_documents_rels_products_fk FOREIGN KEY (products_id) REFERENCES public.products(id) ON DELETE CASCADE;


--
-- Name: payload_locked_documents_rels payload_locked_documents_rels_users_fk; Type: FK CONSTRAINT; Schema: public; Owner: paragon
--

ALTER TABLE ONLY public.payload_locked_documents_rels
    ADD CONSTRAINT payload_locked_documents_rels_users_fk FOREIGN KEY (users_id) REFERENCES public.users(id) ON DELETE CASCADE;


--
-- Name: payload_preferences_rels payload_preferences_rels_parent_fk; Type: FK CONSTRAINT; Schema: public; Owner: paragon
--

ALTER TABLE ONLY public.payload_preferences_rels
    ADD CONSTRAINT payload_preferences_rels_parent_fk FOREIGN KEY (parent_id) REFERENCES public.payload_preferences(id) ON DELETE CASCADE;


--
-- Name: payload_preferences_rels payload_preferences_rels_users_fk; Type: FK CONSTRAINT; Schema: public; Owner: paragon
--

ALTER TABLE ONLY public.payload_preferences_rels
    ADD CONSTRAINT payload_preferences_rels_users_fk FOREIGN KEY (users_id) REFERENCES public.users(id) ON DELETE CASCADE;


--
-- Name: products_benefits products_benefits_parent_id_fk; Type: FK CONSTRAINT; Schema: public; Owner: paragon
--

ALTER TABLE ONLY public.products_benefits
    ADD CONSTRAINT products_benefits_parent_id_fk FOREIGN KEY (_parent_id) REFERENCES public.products(id) ON DELETE CASCADE;


--
-- Name: products_gallery products_gallery_image_id_media_id_fk; Type: FK CONSTRAINT; Schema: public; Owner: paragon
--

ALTER TABLE ONLY public.products_gallery
    ADD CONSTRAINT products_gallery_image_id_media_id_fk FOREIGN KEY (image_id) REFERENCES public.media(id) ON DELETE SET NULL;


--
-- Name: products_gallery products_gallery_parent_id_fk; Type: FK CONSTRAINT; Schema: public; Owner: paragon
--

ALTER TABLE ONLY public.products_gallery
    ADD CONSTRAINT products_gallery_parent_id_fk FOREIGN KEY (_parent_id) REFERENCES public.products(id) ON DELETE CASCADE;


--
-- Name: products products_image_id_media_id_fk; Type: FK CONSTRAINT; Schema: public; Owner: paragon
--

ALTER TABLE ONLY public.products
    ADD CONSTRAINT products_image_id_media_id_fk FOREIGN KEY (image_id) REFERENCES public.media(id) ON DELETE SET NULL;


--
-- Name: site_settings site_settings_logo_id_media_id_fk; Type: FK CONSTRAINT; Schema: public; Owner: paragon
--

ALTER TABLE ONLY public.site_settings
    ADD CONSTRAINT site_settings_logo_id_media_id_fk FOREIGN KEY (logo_id) REFERENCES public.media(id) ON DELETE SET NULL;


--
-- Name: site_settings_social_links site_settings_social_links_parent_id_fk; Type: FK CONSTRAINT; Schema: public; Owner: paragon
--

ALTER TABLE ONLY public.site_settings_social_links
    ADD CONSTRAINT site_settings_social_links_parent_id_fk FOREIGN KEY (_parent_id) REFERENCES public.site_settings(id) ON DELETE CASCADE;


--
-- Name: users users_photo_id_media_id_fk; Type: FK CONSTRAINT; Schema: public; Owner: paragon
--

ALTER TABLE ONLY public.users
    ADD CONSTRAINT users_photo_id_media_id_fk FOREIGN KEY (photo_id) REFERENCES public.media(id) ON DELETE SET NULL;


--
-- Name: users_sessions users_sessions_parent_id_fk; Type: FK CONSTRAINT; Schema: public; Owner: paragon
--

ALTER TABLE ONLY public.users_sessions
    ADD CONSTRAINT users_sessions_parent_id_fk FOREIGN KEY (_parent_id) REFERENCES public.users(id) ON DELETE CASCADE;


--
-- PostgreSQL database dump complete
--

\unrestrict PJvOszF606cAbsMKMeWUIMPbe6Kb8JMUvZSDACUn8m0aJCRwWX4R4k0r0oGG0Y8

